.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  background-color: black;
  color: white;
}

.footer .bcontainer {
  margin: 0 auto;
  max-width: 1590px;
  padding: 20px;
}

.footer a {
  padding-right: .5rem;
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
