.image img{
  max-width: 15rem;
  height: auto;
  vertical-align: top;
}

.breadcrumb {
  background: white !important;
}

.breadcrumb a {
  padding-bottom: 1px;
  color: black;
  border-bottom: 1px solid;
}

.breadcrumb span {
  padding-bottom: 1px;
  color: black;
  border-bottom: 1px solid;
}

.breadcrumb a:hover {
  color: #d6d6d6;
  text-decoration: none;
}

.overlay { background:rgba(150, 150, 150, 0.75);
               text-align:center;
               padding:45px 0 66px 0;
               opacity:0;
               -webkit-transition: opacity .25s ease;

               left: 0;
               position:absolute;
               text-align:center;
               top: 0;
               bottom: 0;
               font-size: 1.2rem;
               width: 100%;
             }

.image-box:hover .overlay{
  opacity:1;
}

.overlay p {
  color: black;
  left: 0;
  position:absolute;
  text-align:center;
  top: 45%;
  font-size: 1.2rem;
  width: 100%;
}
