.selection-box {
  text-align: center;
  border: 2px solid white;
  background-color: #2684fc;
  width: 15rem;
  padding: 5px;
  border-radius: 5px;
}

.dropzone {
  margin-top: 5px;
  display: inline-block;
}
.dropzone-text {
  height: 11rem;
  line-height: 11rem;
}
.selection-box p {
  color: white;
}

.selection-box input {
  border-radius: 5px;
}

.title {
  text-align: center !important;
  font-size: 1.5rem !important;
}

.logout-button {
  position: absolute;
  top: 3.5rem;
  right: 1rem;
}

@media only screen and (min-width: 768px) {
  .login-box {
    text-align: center;
    position: absolute;
    left: 40% !important;
    padding: 1rem;
    top: 25%;
    border-radius: 5px;
    border: 2px solid #bdbdbd;
    transform: translateY(-50%);
  }
}

.login-box {
  position: absolute;
  left: 20%;
  padding: 1rem;
  top: 25%;
  border-radius: 5px;
  border: 2px solid #bdbdbd;
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .album-button {
    margin-top: 1vh !important;
    width: 100% !important;
  }
}

.album-button {
  margin-top: 1vh;
  width: 15rem;
}

.toggle-select {
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.delete-btn {
}
