<header class="masthead">
  <div class="container">
    <h1><a href="#">PSC</a></h1>
    <nav>
      <ul>
        <li><%= active_link_to('About', root_path, active: :exclusive) %></li>
 
      </ul>
    </nav>
  </div>
</header>
